@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css"/>
<a asp-area="Admin"  asp-action="BookCreate" asp-controller="Home" 
                        class="btn">Create Book</a>

<a asp-area="Admin" asp-action="ReaderCreate" 
            asp-controller="Reader" class="btn">CreateReader</a>